# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_export_environment.sh
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.flutter-plugins-dependencies
.flutter-plugins
generated_plugin_registrant.dart

# Environment variables
.env
.env.*   # For multiple environment files like .env.dev, .env.prod

# IntelliJ / VS Code
.idea/
.vscode/

# iOS
**/Pods/
**/.symlinks/
**/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.moved-aside
profile
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# macOS
**/Flutter/ephemeral/
**/Flutter/Flutter.framework

# Android
**/local.properties
**/*.iml
**/.gradle/
**/build/
**/captures/

# Windows
**/windows/flutter/
**/windows/CMakeFiles/
**/windows/Debug/
**/windows/Release/

# Linux
**/linux/flutter/
**/linux/build/

# Web
**/web/main.dart.js
**/web/flutter_service_worker.js

# Exceptions to above rules
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
